<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="car_rantal_systemConnectionString" connectionString="Data Source=.;Initial Catalog=car_rantal_system;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="car_rantal_systemConnectionString2" connectionString="Data Source=L3-186;Initial Catalog=car_rantal_system;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="car_rantal_systemConnectionString3" connectionString="Data Source=DharaviyaNikunj;Initial Catalog=car_rantal_system;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="car_rantal_systemConnectionString4" connectionString="Data Source=DharaviyaNikunj;Initial Catalog=car_rantal_system;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="car_rantal_systemConnectionString5" connectionString="Data Source=DharaviyaNikunj;Initial Catalog=car_rantal_system;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="car_rantal_systemConnectionString6" connectionString="Data Source=DharaviyaNikunj;Initial Catalog=car_rantal_system;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="car_rantal_systemConnectionString7" connectionString="Data Source=DharaviyaNikunj;Initial Catalog=car_rantal_system;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="car_rantal_systemConnectionString8" connectionString="Data Source=DharaviyaNikunj;Initial Catalog=car_rantal_system;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="car_rantal_systemConnectionString9" connectionString="Data Source=DharaviyaNikunj;Initial Catalog=car_rantal_system;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="car_rantal_systemConnectionString10" connectionString="Data Source=DharaviyaNikunj;Initial Catalog=car_rantal_system;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>